{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <h1>Your stats</h1>
        {% if stats.questions.total == 0 %}
        <p>No questions answered yet.</p>
        {% else %}
        <p>Total questions: {{stats.questions.total}}</p>
        <p>Correctly answered questions: {{stats.questions.correct}}</p>
        <p>Overall success rate: {{stats.questions.correct}}%</p>
        <p>Question history for last {{stats.mastery_size}} of each type:</p>
        <table>
            <tr>
                <td><b>Question Type</b></td>
                <td><b>Mastery</b></td>
                <td><b>History</b></td>
            </tr>
            {% for name, history in question_types.items %}
            <tr>
                <td>{{name}}</td>
                <td>{{history.mastery}}</td>
                <td>{{history.correct}}/{{history.total}}</td>
            </tr>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
