{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        {% if user.is_authenticated %}
        <h1>{{question.fancy_name}}</h1>
        <p>{{question.explain}}</p>
        <p>{{question.question_string}}</p>
        {% for svg in shape_svgs %}
        {{ svg|safe }}
        {% endfor %}
        <form action="{% url 'answer' %}" method ="post">
            {% csrf_token %}
            <label for="answer">Answer: </label>
            <input autocomplete="off" id="answer" type="text" name="answer" autofocus></input>
            <input name="uuid" type="hidden" value="{{question.uuid}}">
            <input type="submit" name="submit" value="Answer" class="button tiny"/>
        </form>
        {% else %}
        <h1>mathquiz</h1>
        <a href="/accounts/register">Sign up</a> or <a href="/accounts/login">sign in</a> to start your math quiz!
        {% endif %}
    </div>
</div>
{% endblock %}
