{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        {% if user.is_authenticated %}
        <h1>Answer the question! {{ response }}</h1>
        <p>{{question.explain}}</p>
        <p>{{question.question_string}}</p>
        <form action="{% url 'answer' %}" method ="post">
            {% csrf_token %}
            <label for="answer">Answer: </label>
            <input autocomplete="off" id="answer" type="text" name="answer" autofocus></input>
            <input name="uuid" type="hidden" value="{{question.uuid}}">
            <input type="submit" value="Submit">
        </form>
        {% else %}
        <p>You must be logged in to answer questions!</p>
        {% endif %}
    </div>
</div>
{% endblock %}
