{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        {% if user.is_authenticated %}
        <h1>Settings</h1>
        {% if saved %}
        <h5>Saved!</h5>
        {% endif %}
        <form action="{% url 'settings'%}" method=POST>
        <table>
        <tr>
            <td><b>Question Type</b></td>
            <td><b>Enabled</b></td>
        </tr>
        {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" name="submit" value="Save" class="button tiny"/>
        </form>
        {% else %}
        <h1>mathquiz</h1>
        <a href="/accounts/register">Sign up</a> or <a href="/accounts/login">sign in</a> to start your math quiz!
        {% endif %}
    </div>
</div>
{% endblock %}
